<!-- (*) assigned classes -->

<style>
  .content {
    background-color: white;
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
  }
</style>

<ion-view view-title="Account" >

  <ion-nav-buttons side="left">
    <a class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()">Back</a>
  </ion-nav-buttons>

  <ion-content ng-controller="MailCtrl">

    <div class="content">

      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">From</span>
          <input type="text" placeholder="from" ng-model="from">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Subject</span>
          <input type="text" placeholder="subject" ng-model="subject">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Body</span>
          <textarea placeholder="Comments" ng-model="body"></textarea>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Template</span>
          <select ng-model="template" style="width: 60%; overflow: hidden;">
            <option ng-repeat="(id, template) in templates" value="{{id}}">{{template}}</option>
          </select>
        </label>

        <br/> <br/>
        <button class="button button-light">Cancel</button>
        <button class="button button-positive" ng-click="sendMail()">Send</button>

      </div>

    </div>

  </ion-content>

</ion-view>
