<!-- (*) assigned classes -->

<style>
	.content {
		background-color: white;
		margin-top: 0px;
		padding-top: 0px;
		position: relative;
	}
</style>

<ion-view view-title="Account" >

	<ion-nav-buttons side="right">
		<a class="button button-icon icon ion-ios-gear-outline" href="#/tab/edprofile"></a>
  </ion-nav-buttons>
	<ion-nav-buttons side="left">
		<a class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()">Back</a>
	</ion-nav-buttons>

	<ion-content ng-controller="LeadCtrl">

		<div class="content">
			<ion-list>

				<div class="item item-divider">History</div>
				<a class="item " ng-repeat="item in history">
          <p>
            <span class="name">{{item.title}}</span>
            <small>{{item.description}}</small>
          </p>
					<div class="activity-time">{{item.date}}</div>
				</a>

        <!-- item divider -->
				<div class="item item-divider">Notes</div>
        <a class="item" ng-repeat="item in notes">
          <p>
            <span class="name">{{item.title}}</span>
            <small>{{item.description}}</small>
          </p>
          <div class="activity-time">{{item.date}}</div>
        </a>

			</ion-list>
		</div>
	</ion-content>
</ion-view>
