
<ion-view view-title="Leads" ng-controller="ListsCtrl">
    <ion-content>

      <div class="list list-inset input-search">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="listsSearch">
        </label>
      </div>

      <ion-list class="item-border-off">
        <ion-item  ng-repeat="item in items | filter : listsSearch" class="item-icon-right" type="item-text-wrap" href="#">
          <h2>Ben Loson</h2>
          <p>You on your way?</p>
          <!-- *time-list / time of activity -->
          <i class="icon ion-chevron-right icon-accessory"></i>
          <!-- button options -->
          <ion-option-button>
            <i class="icon ion-ios-close-outline"></i>
          </ion-option-button>
        </ion-item>
      </ion-list>

    </ion-content>
</ion-view>
