<!-- (*) assigned classes -->

<style>
	.content {
		background-color: white;
		margin-top: 0px;
		padding-top: 0px;
		position: relative;
	}
</style>

<ion-view view-title="Account" ng-controller="LeadCtrl">

	<ion-nav-buttons side="right">
		<a class="button button-icon icon ion-ios-gear-outline" href="#/tab/edprofile"></a>
  </ion-nav-buttons>
	<ion-nav-buttons side="left">
		<a class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()">Back</a>
	</ion-nav-buttons>

	<ion-content>
		<!-- *content / container profile -->
		<div class="content" ng-controller="LeadCtrl">
			<ion-list>

        <!-- item divider -->
				<div class="item item-divider">
				    History
				</div>
				<a class="item item-avatar" ng-repeat="item in history">
					<img src="img/82.jpg">
      				<p>
						<!-- *name -->
      					<span class="name">Carla Harrington</span>
      					<small>Followed by</small>
      					<span class="name">Ben Loson</span>
      				</p>
					<!-- *activity-time -->
					<div class="activity-time">2 days ago</div>
				</a>

        <!-- item divider -->
				<div class="item item-divider">
				    Notes
				</div>
        <a class="item item-avatar" ng-repeat="item in notes">
          <img src="img/82.jpg">
          <p>
            <!-- *name -->
            <span class="name">Carla Harrington</span>
            <small>Followed by</small>
            <span class="name">Ben Loson</span>
          </p>
          <!-- *activity-time -->
          <div class="activity-time">2 days ago</div>
        </a>


			</ion-list>
		</div>
	</ion-content>
</ion-view>
