<!-- (*) assigned classes -->

<ion-view view-title="Leads" ng-controller="leadsListCtrl">

    <ion-content>

        <!-- *input-search -->
        <div class="list list-inset input-search">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="leadsSearch">
            </label>
        </div>

        <!-- *item-border-off / quit first border of the list item -->
        <ion-list class="item-border-off">

            <ion-item ng-repeat="item in items | filter : leadsSearch" class="item-icon-right" type="item-text-wrap" href="#/account/{{item.id}}">
                <h2>
                    {{item.createdByUser?item.createdByUser:"Anonymous"}}
                </h2>
                <p>Leds lists</p>
                <p class="time-list">
                    <i class="icon ion-ios-clock-outline"></i>
                    {{item.lastActive}}
                </p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button href="#/mail/{{item.id}}" ng-click="mailLead(item)" >
                    <i class="icon ion-ios-email-outline"></i>
                </ion-option-button>
            </ion-item>

        </ion-list>

      <ion-infinite-scroll
        on-infinite="loadMore()"
        distance="1%">
      </ion-infinite-scroll>

    </ion-content>

</ion-view>
