<!-- (*) assigned classes -->

<style>
	.content {
		background-color: white;
		margin-top: 0px;
		padding-top: 0px;
		position: relative;
	}
</style>

<ion-view view-title="Account" >

	<ion-nav-buttons side="right">
		<a class="button button-icon icon ion-ios-gear-outline" href="#/tab/edprofile"></a>
  </ion-nav-buttons>
	<ion-nav-buttons side="left">
		<a class="button icon-left ion-chevron-left button-clear button-white" ng-click="goBack()">Back</a>
	</ion-nav-buttons>

	<ion-content ng-controller="LeadCtrl">

		<div class="content">
			<ion-list>

        <div class="item item-divider">
          Date added
        </div>
        <a class="item item-avatar">
          <p><span class="name">{{lead.dateAdded}}</span></p>
        </a>

        <div class="item item-divider">
          Last active
        </div>
        <a class="item item-avatar">
          <p><span class="name">{{lead.lastActive}}</span></p>
        </a>

        <div class="item item-divider">
          Last active
        </div>
        <a class="item item-avatar">
          <p><span class="name">{{lead.lastActive}}</span></p>
        </a>

				<div class="item item-divider">
				    Fields
				</div>
				<a class="item item-avatar" ng-repeat="(field,value) in lead.fields.all">
          <p>
            <span class="name">{{field}}</span> -
            <small>{{value}}</small>
          </p>
				</a>


			</ion-list>
		</div>
	</ion-content>
</ion-view>
