<!-- (*) assigned classes -->

<ion-view view-title="Leads" ng-controller="leadsListCtrl">

    <ion-content>

        <!-- *input-search -->
        <div class="list list-inset input-search">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="leadsSearch">
            </label>
        </div>

        <!-- *item-border-off / quit first border of the list item -->
        <ion-list class="item-border-off">

            <ion-item ng-repeat="item in items | filter : leadsSearch" class="item-avatar item-icon-right" type="item-text-wrap" href="#/account/{{item.id}}">
                <img ng-src="{{item.image}}">
                <h2>
                    {{item.name}}
                    <div class="online-off"></div>
                </h2>
                <p>{{item.email}}</p>
                <p class="time-list">
                    <i class="icon ion-ios-clock-outline"></i>
                    {{item.activity}}
                </p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button>
                    <i class="icon ion-ios-email-outline" ng-click="emailContactDetails()"></i>
                </ion-option-button>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
